:root {
    /* ===== Main Colors ===== */

    --primary-color: #C89B3C;
    --primary-hover: #D6A94A;
    --primary-light: #E5C06B;
    --primary-dark: #9A722B;
    --glass: rgba(255, 255, 255, 0.3);

    /* ===== Backgrounds ===== */

    --bg-primary: #131315;
    --bg-secondary: #18181A;
    --bg-tertiary: #242426;
    --bg-light: #F6F2EB;

    /* ===== Border ===== */

    --border-color: rgba(255, 255, 255, .08);
    --gold-border: rgba(200, 155, 60, .35);

    --gold-shadow:
        0 0 30px rgba(200, 155, 60, .20);

    --glass-shadow:
        0 8px 32px rgba(0, 0, 0, .35);

    --letter-s: 2px;

}

body {
    font-family: "Poppins", sans-serif;
    scroll-margin: 64px;
    height: 5000px;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--bg-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cinzel", serif;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

section {
    padding: 50px 0;
    background-color: var(--bg-primary);
    color: var(--bg-light);
}