body {
  font-family: "Poppins", sans-serif;
  scroll-margin: 64px;
  overflow-x: hidden;
  height: 5000px;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #C89B3C #131315;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

section {
  position: relative;
  padding: 50px 0;
  background-color: #131315;
  color: #F6F2EB;
  z-index: 3;
}

.brand-name {
  color: #C89B3C;
}

nav.navbar {
  backdrop-filter: blur(10px);
  z-index: 999;
  padding: 20px 0px;
  transition-duration: 0.5s;
}
nav.navbar.scrolled {
  transform: translateY(-100%);
}
nav.navbar .navbar-collapse {
  flex-grow: 0;
}
nav.navbar .navbar-nav {
  border-radius: 5px;
  padding-block: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  min-width: 250px;
}
nav.navbar .navbar-nav a {
  transition-duration: 0.5s;
  border-radius: 5px;
}
nav.navbar .navbar-nav a.active, nav.navbar .navbar-nav a:hover {
  background-color: #E5C06B;
}
nav.navbar .navbar-nav a .content {
  position: absolute;
  top: initial;
  right: initial;
  bottom: -35px;
  left: 50%;
  z-index: initial;
  transform: translateX(-50%) scale(0);
  padding: 2px 5px;
  background-color: #E5C06B;
  font-weight: 600;
  letter-spacing: 1.2px;
  border-radius: 5px;
  transition-duration: 0.5s;
  font-size: 12px;
}
nav.navbar .navbar-nav a.active i {
  color: #000;
}
nav.navbar .navbar-nav a:hover .content {
  transform: translateX(-50%) scale(1);
}
nav.navbar .navbar-nav a:hover i {
  color: #000;
}
nav.navbar .navbar-nav a i {
  color: #E5C06B;
  font-size: 20px;
  transition-duration: 0.5s;
}

/* 350 */
@media (max-width: 1300px) {
  .navbar .container {
    flex-direction: column;
  }
  .navbar .container h2 {
    display: none;
  }
}
/* 650 */
@media (min-width: 577px) and (max-width: 1300px) {
  .navbar .container {
    flex-direction: row;
  }
  .navbar .container h2 {
    display: block;
  }
}
header {
  min-height: 100svh;
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
header > button {
  position: absolute;
  background-color: transparent;
  overflow: hidden;
  border: 1px solid #E5C06B;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 1000;
}
header > button i {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  color: #E5C06B;
  border-radius: 5px;
  letter-spacing: 1.5px;
  overflow: hidden;
  transition-duration: 0.5s;
  z-index: 3;
}
header > button::after, header > button::before {
  content: "";
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
}
header > button::after, header > button::before {
  background-color: #E5C06B;
}
header > button::after {
  left: 100%;
}
header > button:hover::after {
  left: 0;
}
header > button::before {
  right: 100%;
}
header > button:hover::before {
  right: 0;
}
header > button:hover i {
  color: black;
}
header > button.next {
  right: 50px;
}
header > button.prev {
  right: 100px;
}
header .container .row {
  opacity: 0;
  display: none;
  transition-duration: 0.5s;
}
header .container .row.show {
  opacity: 1;
}
header .container .row.show .content {
  transform: translateX(0%);
}
header .container .row.show .image {
  transform: scale(1);
}
header .container .row.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header .container .row .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  transform: translateX(-100%);
  transition-duration: 1s;
  overflow: hidden;
}
header .container .row .content .hero {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  z-index: 2;
  /* 350 */
}
@media (max-width: 1300px) {
  header .container .row .content .hero {
    text-align: center;
  }
}
header .container .row .content .hero {
  /* 850 */
}
@media (min-width: 769px) and (max-width: 1300px) {
  header .container .row .content .hero {
    text-align: start;
  }
}
header .container .row .content .hero p {
  color: #9A722B;
}
header .container .row .content .hero h1,
header .container .row .content .hero h3 {
  color: white;
  letter-spacing: 2px;
}
header .container .row .content .hero .buttons {
  justify-content: start;
  /* 350 */
}
@media (max-width: 1300px) {
  header .container .row .content .hero .buttons {
    justify-content: center;
  }
}
header .container .row .content .hero .buttons {
  /* 850 */
}
@media (min-width: 769px) and (max-width: 1300px) {
  header .container .row .content .hero .buttons {
    justify-content: start;
  }
}
header .container .row .content .hero .buttons > a {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  font-size: 14px;
  padding: 5px 25px;
  border-radius: 5px;
  letter-spacing: 1.5px;
  overflow: hidden;
}
header .container .row .content .hero .buttons > a::after, header .container .row .content .hero .buttons > a::before {
  content: "";
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
}
header .container .row .content .hero .buttons > a span {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  z-index: 2;
}
header .container .row .content .hero .buttons > a {
  /* First Button */
}
header .container .row .content .hero .buttons > a:first-child {
  color: black;
  border: 1px solid #C89B3C;
  background-color: #C89B3C;
}
header .container .row .content .hero .buttons > a:first-child::after, header .container .row .content .hero .buttons > a:first-child::before {
  background-color: #E5C06B;
}
header .container .row .content .hero .buttons > a:first-child::after {
  left: 100%;
}
header .container .row .content .hero .buttons > a:first-child:hover::after {
  left: 0;
}
header .container .row .content .hero .buttons > a:first-child::before {
  right: 100%;
}
header .container .row .content .hero .buttons > a:first-child:hover::before {
  right: 0;
}
header .container .row .content .hero .buttons > a {
  /* Last Button */
}
header .container .row .content .hero .buttons > a:last-child {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
header .container .row .content .hero .buttons > a:last-child::after, header .container .row .content .hero .buttons > a:last-child::before {
  background-color: rgba(255, 255, 255, 0.3);
}
header .container .row .content .hero .buttons > a:last-child::after {
  left: 100%;
}
header .container .row .content .hero .buttons > a:last-child:hover::after {
  left: 0;
}
header .container .row .content .hero .buttons > a:last-child::before {
  right: 100%;
}
header .container .row .content .hero .buttons > a:last-child:hover::before {
  right: 0;
}
header .container .row .image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: scale(0);
  transition-duration: 1s;
}
header .container .row .image img {
  margin: 40px 0px 0px 0px;
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 50px 10px rgba(255, 215, 121, 0.3);
}
header .container .row .image {
  /* 350 */
}
@media (max-width: 1300px) {
  header .container .row .image {
    display: none;
  }
}
header .container .row .image {
  /* 850 */
}
@media (min-width: 769px) and (max-width: 1300px) {
  header .container .row .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
header {
  /* Down Arrow */
}
header > .icon {
  position: absolute;
  top: initial;
  right: initial;
  bottom: 30px;
  left: 50%;
  z-index: initial;
  transform: translateX(-50%);
  z-index: 3;
  color: #C89B3C;
  font-size: 22px;
  animation: show 1s alternate ease-in-out infinite;
}

#Story .part-1 span,
#Story .part-1 a {
  color: #C89B3C;
  transition-duration: 0.5s;
}
#Story .part-1 a {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  width: fit-content;
  padding-inline: 0;
}
#Story .part-1 a:hover {
  color: #E5C06B;
}
#Story .part-1 a::after {
  content: "";
  display: block;
  position: absolute;
  top: initial;
  right: initial;
  bottom: initial;
  left: 0;
  z-index: initial;
  width: 0%;
  height: 2px;
  background-color: #E5C06B;
  transition-duration: 0.5s;
}
#Story .part-1 a:hover::after {
  width: 100%;
}
#Story .part-2 img {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  filter: grayscale(100%);
  z-index: 2;
  transition-duration: 1s;
}
#Story .part-2 img:hover {
  filter: grayscale(0%) drop-shadow(0 0 30px rgba(200, 155, 60, 0.2));
}
#Story .part-2::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 0;
  z-index: initial;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(200, 155, 60, 0.35);
  transition-duration: 1s;
}
#Story .part-2:hover::after {
  transform: scale(1.01);
  border-color: #D6A94A;
}

/*# sourceMappingURL=style.css.map */
