@use "../abstracts/" as *;

#AllProducts {
    background-color: transparent;

    .title {
        .path-btn {
            margin-right: 10px;
        }

        h2 {
            @include flex();
            gap: 5px;
            font-size: 35px;
            font-weight: 600;

            >span.current {
                color: $primary-color;
            }


            @include responsive(350) {
                font-size: 18px;
            }

            @include responsive(650) {
                font-size: 25px;
            }

            @include responsive(1050) {
                font-size: 35px;
            }
        }
    }

    .content {
        .row {
            .box {
                @include responsive(350) {
                    margin: auto;
                }

                @include responsive(850) {
                    margin: initial;
                }

                .product {
                    position: relative;
                    border-radius: 10px;
                    overflow: hidden;
                    box-shadow: rgba(255, 255, 255, 0.2) 0px 10px 50px;
                    transition-duration: .5s;

                    img {
                        width: 100%;
                    }

                    @include responsive(350) {
                        margin: auto;
                        max-width: 320px;
                    }

                    @include responsive(850) {
                        margin: initial;
                        max-width: initial;
                    }

                    .layout {
                        @include position($b : 0, $l :20px);
                        @include flex($direction : column, $al : start, $js : start);
                        background-color: rgba(0, 0, 0, 0.65);
                        backdrop-filter: blur(3px);
                        -webkit-backdrop-filter: blur(3px);
                        box-shadow: rgba(255, 255, 255, 0.2) 0px 10px 50px;
                        border-radius: 10px;
                        padding: 20px;
                        margin-bottom: 20px;
                        margin-right: 20px;
                        width: calc(100% - 40px);
                        height: 0px;
                        transition: all 0.5s;

                        opacity: 0;
                        overflow-y: auto;
                        scrollbar-width: none;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        * {
                            font-weight: 600;
                        }

                        h5 {
                            color: $primary-color;
                            text-shadow:
                                0 2px 5px rgba(0, 0, 0, 0.6),
                                0 0 10px rgba(229, 192, 107, 0.45),
                                0 0 25px rgba(229, 192, 107, 0.2);
                        }

                        #Price {
                            .price {
                                color: $primary-light;
                            }
                        }

                        .dimensions {
                            span.dim-content {
                                color: $primary-dark;
                                text-shadow: 0 0 10px rgba(229, 192, 107, 0.45);
                            }
                        }

                        .description p {
                            font-weight: 400;
                            border-radius: 10px;
                            padding: 10px;
                            background-color: rgba(255, 255, 255, 0.5);
                            backdrop-filter: blur(3px);
                            box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 50px;
                        }
                    }

                    .shop-now {
                        @include position($t : 20px, $r : 0);
                        transition-duration: 1s;

                        opacity: 0;
                        transform: translateX(100%);

                        width: 45px;
                        height: 45px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        border: 2px solid rgba($primary-light, 0.5);
                        border-radius: 50%;

                        background-color: transparent;
                        color: $primary-light;

                        cursor: pointer;
                        overflow: hidden;

                        transition: 0.4s ease;

                        i {
                            position: relative;
                            z-index: 2;
                            font-size: 20px;
                            font-weight: 900;

                            transition: 0.4s ease;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;

                            background-color: $primary-light;

                            border-radius: 50%;

                            transform: scale(0);
                            transition: 0.4s ease;
                        }

                        &:hover {
                            color: #000;
                            border-color: #000;
                            transform: translateY(-3px);

                            &::before {
                                transform: scale(1);
                            }

                            i {
                                transform: scale(1.1);
                            }
                        }
                    }

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: rgba(229, 192, 107, 0.4) 0px 10px 50px;

                        .layout {
                            opacity: 1;
                            height: calc(100% - 100px);
                        }

                        .shop-now {
                            opacity: 1;
                            transform: translateX(-15px);
                        }
                    }
                }
            }
        }
    }
}

.cart-link {
    transition-duration: 0.5s;
    border-radius: $border-r;
    border: 2px solid $primary-light;

    &.active,
    &:hover {
        background-color: $primary-light;
    }


    &.active {
        i {
            color: #000;
        }
    }

    &:hover {
        i {
            color: #000;
        }
    }

    i {
        color: $primary-light;
        font-size: 20px;
        transition-duration: 0.5s;
    }

    .cart-counter {
        background-color: $primary-light;
        color: #000;
        box-shadow: 0px 0px 10px #000;
    }
}