@use "./variables" as *;
@use "./mixins" as *;

body {
    font-family: "Poppins", sans-serif;
    scroll-margin: 64px;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: $primary-color $bg-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cinzel", serif;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

section {
    position: relative;
    padding: 50px 0;
    background-color: $bg-primary;
    color: $bg-light;
    z-index: 3;
}

.path-btn {
    font-size: 17px;
    background: transparent;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: $primary-light;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    overflow: hidden;

    span {
        position: relative;
        z-index: 3;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: $primary-light;
        transition: 0.5s ease;
    }

    &:hover {
        color: #1e1e2b;
        transition-delay: 0.5s;
    }

    &:hover::before {
        width: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: $primary-light;
        transition: 0.4s ease;
        z-index: 1;
    }

    &:hover::after {
        height: 100%;
        transition-delay: 0.4s;
        color: aliceblue;
    }
}

.Horizontal {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;

    .Horizontal__text {
        span {
            color: $primary-light;
        }

        display: flex;
        width: max-content;
        white-space: nowrap;
        gap: 4vw;
        padding-left: 100vw;
    }

    .heading-xl {
        font-size: clamp(2rem, 10vw, 12rem);
        font-weight: 600;
        line-height: 1.1;
    }
}

.loader {
    width: 75px;
    aspect-ratio: 1;
    display: grid;

    &::before,
    &::after {
        content: "";
        grid-area: 1/1;
        width: 35px;
        aspect-ratio: 1;
        box-shadow: 0 0 0 3px $primary-light inset;
        filter: drop-shadow(40px 40px 0 $primary-light);
        animation: l8 2s infinite alternate;
    }

    &::after {
        margin: 0 0 0 auto;
        filter: drop-shadow(-40px 40px 0 $primary-light);
        animation-delay: -1s;
    }
}

@keyframes l8 {

    0%,
    10% {
        border-radius: 0
    }

    30%,
    40% {
        border-radius: 50% 0
    }

    60%,
    70% {
        border-radius: 50%
    }

    90%,
    100% {
        border-radius: 0 50%
    }
}

.loading {
    @include position($p : fixed, $t :0, $l :0, $z : 1100);
    @include distance(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(135deg,
            #000000 0%,
            #0B0905 25%,
            #3A2E14 50%,
            rgb(229, 192, 107) 72%,
            #8A702F 88%,
            #000000 100%);

    .content {
        position: relative;
        text-align: center;

        h2 {
            font-weight: 600;
            color: $primary-light;

            .tube {
                position: relative;
                width: 100%;
                height: 60px;
            }

            .line {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                line-height: 1;
                font-size: clamp(25px, 2.5vw, 35px);
                letter-spacing: -0.1vw;
                white-space: nowrap;
                text-align: center;
            }

            .line div {
                backface-visibility: hidden;
            }
        }
    }

}